@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

*{
  font-family: 'Source Sans Pro', sans-serif;
}
.navbar-responsive {
  overflow: hidden;
  animation-name: openNavbar;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

@media (min-width: 768px) {
  .navbar-responsive {
    overflow: hidden;
    animation-name: none;
  }
}

@keyframes openNavbar {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%;
  }
}
